<div class="container">
  <div class="row">

    <%= @cocktail.name %>
    <br>
    <br>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient[:name] %>
    <%= dose[:description] %>
    <%= link_to 'X', dose, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
    <br>
    <%= link_to '+ Dose', new_cocktail_dose_path(@cocktail) %>
    <%= link_to 'Back', cocktails_path %>
    <%= link_to 'All Cocktails', cocktails_path(@cocktails) %>
    <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
    <%= link_to 'Delete', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>
