<div class="container">
  <div class="row">
    <h1><%= @cocktail.name %></h1>
    <h3>Ingredients: </h3>
    <div class="col-md-9">
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient[:name] %><%= dose[:description] %></li>
        <% end %>
      </ul>
      <div>
        <%= cl_image_tag( @cocktail.photo,
        width: 400, height: 300, crop: :fill) %>
      </div>

      <div>
        <%= link_to 'Back to Drinks', cocktails_path, class: "btn btn-ghost" %>
        <%= link_to 'Edit Drink', edit_cocktail_path(@cocktail), class: "btn btn-ghost" %>
        <%= link_to 'Delete Drink', @cocktail, method: :delete, class: "btn btn-ghost", style: "color: red;", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="col-md-3">
      <h3>See other drinks</h3>
    </div>
  </div>
</div>
<%= render '/reviews/new', cocktail: @cocktail, review: @review%>
<% @cocktail.reviews.each do |review| %>
<%= review.rating %>
<%= review.content %>
<%= review.date %>
<% end %>
