<h1>new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f|%>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.input :description, label: 'Quantity' %>
  <%= f.submit %>
<% end %>
<%= link_to "Back", @cocktail %>
