<%= simple_form_for [@cocktail, Review.new] , :html=> { class: 'form' } do |f| %>
<div class="stars">
  <%= f.collection_radio_buttons :rating,  Review.rating_range, :first, :first, item_wrapper_tag: false, boolean_style: :inline do |b| %>
    <%= b.radio_button + b.label {''} %>
    <% end %>
</div>
<%= f.input :content,  :label => "Comment"%>
<%= f.submit "Submit", class: "btn btn-secondary" %>
<% end %>
